{% extends "base.html" %}

{% block main_content %}
<h2>Le site de jeu de placement de briques</h2>

<p id="parag_description">
	L'objectif du jeu est que toutes les cases cibles de la grille soient recouvertes par des briques.
	<br>
	Utilisez le menu à gauche pour découvrir les fonctionnalités de ce site.
</p>

<p>QUELQUE STATISTIQUES📊</p>

<p>Nombre d'instances des tables photo, joueur et tour :</p>
<ul>
	<li>Il y a {{REQUEST_VARS['photo'][0][0]}} instances dans la table photo.</li>
	<li>Il y a {{REQUEST_VARS['tour'][0][0]}} instances dans la table tour.</li>
	<li>Il y a {{REQUEST_VARS['joueur'][0][0]}} instances dans la table joueur.</li>
</ul>
<p>Les 5 couleurs ayant le plus de briques sont les suivantes :</p>
<ul>
	{%for couleur in REQUEST_VARS['couleur'] %}
	<li>La couleur {{couleur[0]}}</li>
	{% endfor %}
</ul>
<div>
	<img src="serial_critique/static/img/lego.png" />
</div>

{% include 'message.html' %}

{% endblock %}
